.profilePic {
    width: 300px; /* Set the desired width */
    height: 300px; /* Set the desired height */
    border-radius: 50%; /* Make the border-radius 50% to create a circular shape */
    object-fit: cover; /* Maintain the aspect ratio and cover the container */
    margin-left: 50px;
    margin-top: 350px;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
  }

  /* .profile-name {
    margin-top: 10px;
    font-size: 18px;
  } */

  .grid {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    align-items: center;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    margin-left: 50px;
    margin-top: 350px;
    background-color: black;
    color: white;
  }

  body {
    background-image: url('images/back4.jpg');
    background-size: cover; /* Adjust as needed */
    /* Other background properties like repeat, position, etc. can also be set here */
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    border-radius: 10px;
    padding: 20px;
    color: white;
  }
  
  .grid-item {
    padding: 20px;
    background-color: black;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s ease-in-out; /* Apply the animation to all items initially */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Apply the animation with delay for each item */
  .grid-item.animated:nth-child(1) {
    animation: fadeIn 1s ease-in-out forwards 0.5s; /* Apply animation only once with delay */
  }
  
  .grid-item.animated:nth-child(2) {
    animation: fadeIn 1s ease-in-out forwards 1s;
  }
  
  .grid-item.animated:nth-child(3) {
    animation: fadeIn 1s ease-in-out forwards 1.5s;
  }
  
  .grid-item.animated:nth-child(4) {
    animation: fadeIn 1s ease-in-out forwards 2s;
  }

  .scroll-container {
    width: 100%; /* Full width */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks in the container */
  }

  .grid-scroll {
    display: inline-block; /* Display as inline-block to contain the grid */
  }
  
  
  
  
  
  